.clear_sky {
  background: url("../../assets/images/sunny.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.thunder_storm {
  background: url("../../assets/images/thunderstorm.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.drizzle {
  background: url("../../assets/images/drizzle.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.rain {
  background: url("../../assets/images/rain.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.snow {
  background: url("../../assets/images/snow.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.fog {
  background: url("../../assets/images/fog.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.cloudy {
  background: url("../../assets/images/cloudy.jpg)");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
