body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: url(/src/assets/images/cloudy.jpg);
  overflow-x: hidden;
}
* {
  font-family: $font-light;
  font-weight: lighter;
  transition: 0.7s all ease-in-out;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  height: 100vh;
  width: 100%;
}
