// Font Imports
@font-face {
  font-family: "modelicaLight";
  src: url(../../assets/fonts/ModelicaLight.otf);
}
@font-face {
  font-family: "modelicaMedium";
  src: url(../../assets/fonts/ModelicaMedium.otf);
}

//  ================ Variables ================
// Colors
$primary-background-color: rgba(165, 165, 165, 20);
$main-text-color: #fff;
$secondary-text-color: #cccccc;
$hover-color: #dea571;

// Font
$font-medium: "modelicaMedium";
$font-light: "modelicaLight";

// Font Size
$xxl-font-size: 120px;
$xl-font-size: 50px;
$l-font-size: 40px;
$m-font-size: 30px;
$s-font-size: 25px;
$xs-font-size: 20px;

// Padding
$padding: 60px 60px;
